<div class="bg">
	<div class="accounts-panel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Login Information</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				  <li class="list-group-item">
					  <label class="username">Username: </label> tsmith<br>
					  <label class="new-username">New Username: </label> <input></input><br>
					  <button type="button" class="btn btn-default submit-transfer" ng-click="">Update</button>
				  </li>
				  <li class="list-group-item">
					  <label class="enter-password">Enter Password: </label> <input></input><br>
					  <label class="new-password">New Password: </label> <input></input><br>
					  <label class="confirm-password">Confirm Password: </label> <input></input><br>
					  <button type="button" class="btn btn-default submit-transfer" ng-click="">Update</button>
				  </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accounts-panel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Login Information</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				  <li class="list-group-item">
					  <label class="username">Email: </label> tsmith@gmail.com<br>
					  <label class="new-username">New Email: </label> <input></input><br>
					  <label class="confirm-password">Confirm Email: </label> <input></input><br>
					  <button type="button" class="btn btn-default submit-transfer" ng-click="">Update</button>
				  </li>
				  <li class="list-group-item">
					  <label class="reset-question">Password Reset Question: </label> <input value="Town you were born in?"></input><br>
					  <label class="reset-answer">Password Reset Answer: </label> <input value="Park Rapids, MN"></input><br>
					  <button type="button" class="btn btn-default submit-transfer" ng-click="">Update</button>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>
