.login-bg{
    margin: 0;
    height: 100%;
    color: white;
    background: -webkit-radial-gradient(top, #353B44 -10%, #252932 60%);
    background: radial-gradient(at top, #353B44 -10%, #252932 60%);
    box-shadow: inset 0px 1px 1px 0px #39444e;
    background-color: #252932;
}


.brand1{
	padding-top: 50px;
	padding-left: 10% !important;
	padding-bottom: 50px;
	color: #FFD94C;
	font-size: 36px;
}
.brand2{
	padding-top: 50px;
	padding-right: 10% !important;
	padding-bottom: 50px;
	color: white;
	font-size: 36px;
}

.login-message{
	margin-top: 100px;
	color: white;
	font-size: 36px;
}

.login-form{
	margin-top: 100px;
}

.login-input-group {
	color:white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-size: 16px;
	max-width: 400px;
	padding-top: 20px;
	position: relative;
	margin-bottom: 15px;
}
	
.login-input {
		width: 100%;
		border: none;
		outline: none;
		padding: 5px 0;
		line-height: 1;
		font-size: 16px;
		font-family: 'Raleway';
		border-bottom: solid 1px;
		background-color: transparent;
		transition: all 0.2s ease;
}

.login-input:focus{
	border-bottom: solid 1px #FFD94C;
	box-shadow: 0 1px 0 0 #FFD94C;
}

.login-form-button {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
	color: white;
	margin-top: 10px;
	max-width: 400px;
	text-align: center;
	border: solid 1px white;
	background-color: transparent;
	transition: all 0.2s ease;
}

.login-form-button:hover {
		color: #FFD94C;
		cursor: pointer;
		border-color: #FFD94C;
		background-color: #363c49;
	}

.login-footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	position: absolute;
	text-align: center;
	text-transform: none;
	letter-spacing: initial;
	font-family: 'Raleway';
}