<div class="login-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 text-left brand1">
					Vault
			</div>
			<div class="col-xs-6 text-right brand2">
					B&E Bank
			</div>
		</div>
	</div>
	<div class="text-center login-message">
		Simple <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Fast <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Secure
	</div>
	<div class="container-fluid  login-form">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="login-input-group">
					<input type="text" class="login-input" id="name" placeholder="USERNAME" onblur="checkInput(this)" />
				</div>
				<div class="login-input-group">
					<input type="password" class="login-input" id="password" placeholder="PASSWORD" onblur="checkInput(this)" />
				</div>
				<div class="login-form-button" ng-click="vm.login()">LOGIN</div>	
			</div>
		</div>
	</div>
	<div class="login-footer">B&E Technology</div>
</div>
