.transfers label{
	padding-top: 15px;
}
.transfers .fromAccount{
	padding-right: 20px;
}

.transfers .dropdown{
	width: 132px;
}

.transfers .dropdown li:hover{
	cursor: pointer;
}

.transfers .toAccount{
	padding-right: 38px;
}

.transfers .amount{
	padding-right: 3px;
}

.transfers .frequency{
	padding-right: 42px;
}

.transfers .date{
	padding-right: 22px;
}

.transfers .memo{
	padding-right: 11px;
}

.transfers .center-body{
	margin-left: 20px;
}

.transfers .submit-transfer{
	margin-top: 15px;
}