<div class="accounts-bg">
	<div class="accounts-panel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Accounts Overview</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
	<div class="accounts-panel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Accounts Summary Information</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div>
